@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('../theme/black.scss');
@import url('../theme/white.scss');


html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;

  // 滚动条样式处理
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
