.bx-button {
  border-color: transparent;
  font-size: 18px;
  text-align: center;
  border: none;
  transition: opacity 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  // flex: 1;
  box-sizing: border-box;

  &-primary {
    background: var(--bx-gradient-btn-main-color);
    color: var(--bx-home-login-btn-text-color);
  }

  &-link {
    background: var(--bx-body-background-color);
    color: var(--bx-primary-color);
  }

  &-mini {
    font-size: 18px;
    padding: 10px 20px;
    height: 60px;
    width: 148px;
    border-radius: 16px;
  }
  &-small {
    font-size: 18px;
    padding: 8px 20px;
    height: 40px;
    width: 12.5rem;
    border-radius: 10px;
  }
  &-middle {
    font-size: 20px;
    height: 46px;
    width: 14.375rem;
    border-radius: 10px;
  }
  &-large {
    font-size: 24px;
    height: 46px;
    width: 18rem;
    border-radius: 10px;
  }

}

.bx-button-loading {
  opacity: 0.6;

  .bx-button-text {
    transform: translateX(4px);
    transition: transform 0.2s;
  }
}
