@mixin base-img-bg {
  border-style: none;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: 0 0;
}

.img-error {
  @include base-img-bg;
}


.img-black-default {
  background-image: url('../../assets/image/black/loading.gif');
  background-size: 240px;
  @include base-img-bg;
}

.img-white-default {
  background-image: url('../../assets/image/white/loading.gif');
  background-size: 240px;
  @include base-img-bg;
}

.bg-img-defalut {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
