.theme-white {
   /*规范色**/
   --pc-main-orange-color: #ED610A;
   --pc-primary-list-color: #656D85;
   --pc-icon-hover-color: #7B84A2;
   --pc-white-color: #fff;
   --pc-list-hover-gradient-color: linear-gradient(180deg, #F47A15 0%, rgba(244, 122, 21, 0.20) 100%);
 
   --pc-btn-primary-color: #303243;
   --pc-btn-hover-color: #7B84A2;
   --pc-btn-active-color: #ED610A;
 
   --pc-btn-primary-gradient-color: linear-gradient(90deg, #ED610A 6.3%, #FFB100 102.61%);
   --pc-btn-active-gradient-color: linear-gradient(90deg, #ED610A 22.36%, #FFB100 43.42%, #ED610A 64.99%);
 
   --pc-deep-bg: #131621;
   --pc-content-bg: #181B29;
   --pc-menu-bg: #272937;  
 
   --assist-bule: #4A84F3;
   --assist-green: #5AD198;
   --assist-yellow: #FFBE5E;
 
   --pc-gys-active-bg:rgba(14, 15, 16, 0.3);
   --pc-gys-line-bg: rgba(51, 54, 72, .56);
 
   /*规范未给出颜色**/ 
   --pc-input-search:#24262C;
   --pc-sign-bg-color: rgba(25, 25, 26, 0.28); 
   --pc-sign-border-normal-color: rgba(255, 255, 255, 0.3); 
   --pc-sign-border-hover-color: rgba(255, 255, 255, 0.6);
   --pc-sign-border-active-color: #ED610A; 
   --pc-menu-action-bg: #383b50ff;
   --pc-menu-active-gradient-bg: linear-gradient(270deg, rgba(244, 122, 21, 0.22) 8.7%, rgba(244, 122, 21, 0.00) 112.17%);
   --pc-black-color:#000;
   --pc-champtime-bg:rgba(59, 93, 151, 0.60);
   --pc-gameblock-color: #BDBDBD;
   --pc-gameblock-bg: rgba(7, 7, 34, 0.88);
   --pc-login-label-color: #7C90A7;
   --pc-login-text-color: #525667;
   --pc-login-input-bg: #16202C;
   --pc-login-input-border: #313F50;
}
